{% macro mostrar_campo(id_campo, datos_campo, id_grupo) %}
{% if datos_campo.grupo == id_grupo %}<div class="row mt-1 mb-2" id="campo_{{datos_campo.campo}}">
{% if datos_campo.vista == 'text' %}
<label for="f_{{datos_campo.campo}}" class="col-4 col-form-label text-end">{{datos_campo.etiqueta}}:</label>
<div class="col-8">
    <input type="text" id="f_{{datos_campo.campo}}" name="{{datos_campo.campo}}" class="form-control" placeholder="{{datos_campo.descripcion}}" value="{{datos_campo.valor}}"{% if datos_campo.minimo > 0 %} minlength="{{datos_campo.minimo}}"{% endif %}{% if datos_campo.maximo > 0 %} maxlength="{{datos_campo.maximo}}"{% endif %}{% if datos_campo.requerido %} required{% endif %}{% if not datos_campo.editable %} readonly{% endif %}>
</div>
{% elif datos_campo.vista == 'select' %}
<label for="f_{{datos_campo.campo}}" class="col-4 col-form-label text-end">{{datos_campo.etiqueta}}:</label>
<div class="col-8">
    <select name="{{datos_campo.campo}}" id="f_{{datos_campo.campo}}" class="form-select w-auto"{% if datos_campo.requerido %} required{% endif %}{% if not datos_campo.editable %} readonly{% endif %}>
        {% for id_item, item in datos_campo.diccionario.items() %}<option value="{{item.valor}}"{% if item.valor|string == datos_campo.valor|string %} selected{% endif %}>{{item.etiqueta}}</option>{% endfor %}
    </select>
</div>
{% endif %}
</div>{% endif %}
{% endmacro %}