@media print {
    a::after { content: " (" attr(href) ") "; }
    pre { white-space: pre-wrap; }
    @page {
        margin-bottom: 20mm;
        margin-top: 40mm;
        margin-left: 15mm;
        margin-right: 15mm;
        size: Letter;
        @bottom-center {
            content: counter(page) " de " counter(pages);
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
        }
        @top-right {
            content: element(header);
        }
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.page-break { page-break-after: always; }
header { position: running(header); height: 20mm; }

.alin-izq { text-align: left; float: left !important; }
.alin-cen { text-align: center; }
.alin-der { text-align: right; float: right !important; }
