@media print {
    a::after {
        content: " (" attr(href) ") ";
    }
    pre {
        white-space: pre-wrap;
    }
    @page {
        margin-bottom: 15mm;
        margin-top: 15mm;
        margin-left: 15mm;
        margin-right: 15mm;
        size: Letter landscape;
    }
}
h1,h2,h3,h4,h5,h6 { color: #111; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h2 { color:navy; text-align: center; }
.alin-izq { text-align: left; float: left !important; }
.alin-cen { text-align: center; }
.alin-der { text-align: right; float: right !important; }
.page-break { page-break-after: always; }

table { width:100%; border-collapse: collapse; border-left: 1px solid silver; border-right: 1px solid silver;}
/* thead { display: table-header-group; } */
/* tfoot { font-style: italic; display: table-footer-group; } */
th { font-weight: bold; text-transform: capitalize; }
thead th { background: #c3d9ff; }
th,td,caption { padding: 2px 6px; border-bottom: 1px solid silver;}
caption { background: #eee; }

