# Flask
flask
flask-cors
Flask-Pydantic

# FastAPI
fastapi

# Otros
pydantic-settings
PyJWT
pytz

# Convertidores
Pillow
weasyprint==52.5
#python-docx
#openpyxl
pandoc
pandas

# Vectores + Cargadores +LLM
chromadb
faiss-cpu
openai
openai[datalib]
langchain
PyMuPDF
docx2txt
