pydantic>2.0
pydantic-settings
python-dotenv
PyJWT
Pillow
python-multipart
pytz

[complementos]
openpyxl
pandas
pandoc
weasyprint
pydub

[conectores]
mysql-connector-python
chromadb
faiss-cpu
openai
langchain
PyMuPDF
docx2txt

[flask]
flask
flask-cors
Flask-Pydantic

[fastapi]
fastapi
