# Flask
flask
flask-cors
Flask-Pydantic

# FastAPI
fastapi

# Otros
pydantic-settings
PyJWT
pytz

# Convertidores
Pillow
openpyxl
pandas
pandoc
weasyprint

# Vectores + Cargadores +LLM
chromadb
faiss-cpu
openai
openai[datalib]
langchain
PyMuPDF
docx2txt

