/* frontend\prueba\estilos.css */

.logo {
    width: 128px;
    height: 128px;
    margin: 0 auto;
}

.fuente-ajustable {
    font-size: 16px;
}

.mensaje-titulo {
    text-align: center;
    font-weight: bold;
}
.mensaje-contenido {
    text-align: center;
}
.mensaje-descripcion {
    text-align: left;
    font-style: italic;
}
